.DS_Store
.idea/
src/.DS_Store
experiments/.ipynb_checkpoints/
meetings/.ipynb_checkpoints/
src/data/.ipynb_checkpoints/
src/models/.ipynb_checkpoints/
src/models/model_checkpoints/*.pth
src/models/model_checkpoints/binary/*.pth
src/models/model_checkpoints/mle/*.pth
src/models/evaluation/*.fasta
.DS_Store
.idea/
src/.DS_Store
experiments/.ipynb_checkpoints/
meetings/.ipynb_checkpoints/
src/data/.ipynb_checkpoints/
src/models/.ipynb_checkpoints/
src/models/model_checkpoints/*
src/models/model_checkpoints/binary/*.pth
src/models/model_checkpoints/mle/*.pth
meetings/*.py
meetings/*.png
src/models/plots/binary/ConvNetComplex/*.png
src/models/plots/binary/*/*
src/models/plots/mle/*/*
src/models/evaluation/*.fasta
meetings/*.txt
src/models/mfold/*
src/models/*.py
meetings/*.py
src/models/evaluation/*.py
src/models/evaluation/.ipynb_checkpoints/*
src/models/evaluation/*.txt
src/models/evaluation/n*/*
src/models/evaluation/captum.pyc
src/models/evaluation/__pycache__/*
src/models/*.txt
src/models/generation/.ipynb_checkpoints/
src/models/generation/__pycache__/
src/models/generation/model_human.h5
src/models/generation/model_human.json
src/models/generation/*.py
src/models/generation/CTCF-seqs.npz
