venv/
.DS_Store
.idea/
src/.DS_Store
experiments/.ipynb_checkpoints/
meetings/.ipynb_checkpoints/
src/data/.ipynb_checkpoints/
src/model/.ipynb_checkpoints/
src/model/model_checkpoints/*.pth
src/model/model_checkpoints/binary/*.pth
src/model/model_checkpoints/mle/*.pth
src/model/evaluation/*.fasta
experiments/.ipynb_checkpoints/
meetings/.ipynb_checkpoints/
src/data/.ipynb_checkpoints/
src/model/.ipynb_checkpoints/
src/model/model_checkpoints/*
src/model/model_checkpoints/binary/*.pth
src/model/model_checkpoints/mle/*.pth
meetings/*.py
meetings/*.png
src/plot/binary/*/*
meetings/*.txt
src/model/mfold/*
src/model/*.py
meetings/*.py
src/model/*.txt
src/generation/.ipynb_checkpoints/
src/generation/__pycache__/
src/generation/model_human.h5
src/generation/model_human.json
src/generation/*.py
src/generation/CTCF-seqs.npz
src/data/*.txt
src/data/*.csv
src/generation.*.txt
src/data/*.json
src/data/*.py
*.pt
*.pyc
